@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --header-font: 'Work Sans', sans-serif;
    --header-name-weight: 400;
    --header-spec-weight: 300;
    --content-font: 'Roboto', sans-serif;
    --content-header-weight: 500;
    --content-standart-weight: 400;
    --content-bold-weight: 700;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background: #2b2b2b;
    color: #fff;
    font-family: var(--header-font);
    height: 150px;
}

    .personal-info {
        display: flex;
        height: 150px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .personal-info__name {
            font-size: 4rem;
            font-weight: var(--header-name-weight);
        }

        .personal-info__specialization {
            font-size: 1.5rem;
            font-weight: var(--header-spec-weight);
        }

.body {
    display: flex;
    flex-direction: row;
}

    .info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        width: 30%;
        background: #b4b4b43d;
        height: 1410px;
        padding: 35px;
        font-family: var(--content-font);
    }

        .info__contact-block, .info__education-block, .info__skills-block {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-start;
            margin-bottom: 10%;
        }

            .info__contact-block__header, .info__education-block__header, .info__skills-block__header, .description__workexperience__header, .description__projects__header {
                font-weight: var(--content-header-weight);
                font-size: 1.8rem;
                margin-bottom: 5%;
            }

            .info__education-block__header, .info__skills-block__header, .description__workexperience__header, .description__projects__header {
                font-weight: var(--content-bold-weight);
            }

            .info__education-block p, .info__skills-block p {
                margin-bottom: 2%;
                color: #2b2b2bcf;
            }

            .info__contact-block__email, .info__contact-block__phone, .info__contact-block__address, .info__contact-block__github {
                display: flex;
                color: #2b2b2bcf;
                margin-bottom: 2%;
            }

                .info__contact-block__email a {
                    text-decoration: none;
                    color: #2b2b2bcf;
                }

                .info__contact-block__email a:hover {
                    text-decoration: underline;
                }

                .info__contact-block__email a:visited {
                    color: #2b2b2bcf;
                }

                .info__contact-block__github a {
                    text-decoration: none;
                    color: #00a2ff;
                }

                .info__contact-block__github a:hover {
                    text-decoration: underline;
                }

                .info__contact-block__github a:visited {
                    color: #00a2ff;
                }

                .info__contact-block__email span, .info__contact-block__phone span, .info__contact-block__address span, .info__contact-block__github span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 8px;
                    text-align: center;
                }

                .info__contact-block__phone span, .info__contact-block__address span, .info__contact-block__github span {
                    align-items: flex-start;
                }

    .description {
        width: 70%;
        height: 100%;
        font-family: var(--content-font);
        padding: 35px;
    }

    .description__workexperience, .description__projects {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 40px;
    }

        .description__workexperience__header, .description__projects__header {
            margin-bottom: 1%;
        }

        .description__workexperience__specialization, .description__projects__simple__header, .description__projects__middle__header {
            font-size: 1.8rem;
            margin-bottom: .7%;
            color: #2b2b2bcf;
        }

        .description__workexperience__organization, .description__workexperience__period {
            font-size: 1.4rem;
            color: #2b2b2bcf;
        }

        .description__workexperience__list {
            display: flex;
            flex-direction: column;
            margin-left: 30px;
            list-style:disc;
        }

            .description__workexperience__list__list-item {
                margin-top: 1%;
                color:#2b2b2bcf;
            }

        .description__projects__simple {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .description__projects__simple__list, .description__projects__middle__list {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 5%;
        }

            .description__projects__simple__list__card, .description__projects__middle__list__card {
                width: 30%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 350px;
                border: 1px solid #c2c2c250;
                border-radius: 5px;
            }

            .description__projects__simple__list__card:hover, .description__projects__middle__list__card:hover {
                background: #c2c2c250;
                border: 2px solid #fff;

                .card__image img {
                    border: .5px solid #0000002d;
                    border-radius: 5px;
                }

            }

                .card__image {
                    width: 80%;
                }

                    .card__image img {
                        width: 100%;
                    }

                .card__reference {
                    width: 70%;
                    text-align: center;
                    margin-bottom: 4%;
                }

                    .card__reference a {
                        text-decoration: none;
                        width: 100%;
                        color: #2b2b2bcf;
                    }